/* override position and transform in 3.3.x */
.carousel-inner .item.left.active {
  transform: translateX(-33%);
}
.carousel-inner .item.right.active {
  transform: translateX(33%);
}

.carousel-inner .item.next {
  transform: translateX(33%)
}
.carousel-inner .item.prev {
  transform: translateX(-33%)
}

.carousel-inner .item.right,
.carousel-inner .item.left { 
  transform: translateX(0);
}


.carousel-control.left,.carousel-control.right {background-image:none;}


.flex-caption {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
    display: inline-block;
    font-family: 'open sans', arial, sans-serif;
    text-align: left;
}
.flex-caption .main {
    display: inline-block;
    background: #000030;
    margin-bottom: 5px;
    padding: 10px 15px;
    font-size: 18px;
    text-transform: uppercase;
}
.secondary {
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 15px;
    color: #fff;
    font-size: 16px;
}

.big-banner {
    background-image: url(http://res.cloudinary.com/dvl9i5pry/image/upload/v1507107424/bg-3_ytcewo.jpg);
    background-size: cover;
    padding: 40px 20px;
    background-position: center;
    background-attachment: fixed;
}
.date-label {
    background: #f5f5f5;
    display: inline-block;
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 13px;
    margin-top: 21px;
}

.flexslider12 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}